#wrap {}
#wrap > * {height:80px; border:2px solid #000; padding: 20px;}
#wrap main {height:200vh; background-color:#ddd;}
/* swiper css 직접 입력 시 주의사항 */
/* 1. swifer 적용 태그는 플러그인 CDN 연결파일에 의해서 기본 값들이 먼저 내장되어 있기 때문에 반드시 f12개발자 도구로 체크하고 필요한 값만 구분해서 넣어야한다.
2. css 디자인 입력 시 적용이 안된다면 기본값과 충돌 되는지 개발자 도구로 css우선 순위를 확인하고 올바른 대상에 적용한다.
3. swiper, swiper-wrapper, swiper-slide 3 요소에는 레이아웃 관련 css 삽입 시 신중하게 사용한다.  */
#wrap main .hero_bnr {
    background-color: aqua;
    width:600px; height:400px;
}
/* swiper-wrapper, swiper-slide는 개별 크기 입력하지 않기 */
/* swiper plugin 대표 css 내장속성:값 */
/* 1. swiper : position, overflow */
/* 2. swiper-wrapper : flex */
/* 3. swiper-slide : position, transform */
#wrap main .hero_bnr .swiper-wrapper .swiper-slide {
    background-size:cover; background-position:center;
}
#wrap main .hero_bnr .swiper-wrapper .slide1 {
    background-image:url(../images/bnr1.jpg);
}
#wrap main .hero_bnr .swiper-wrapper .slide2 {
    background-image:url(../images/bnr2.jpg);
}
#wrap main .hero_bnr .swiper-wrapper .slide3 {
    background-image:url(../images/bnr3.jpg);
}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide p {
    position:absolute; left:50%; top:50%; transform: translate(-50%,-50%);
}
/* ===================================================== */
#wrap main .market_bnr {min-width:1800px; height:400px;}
#wrap main .market_bnr .swiper-wrapper {}
#wrap main .market_bnr .swiper-wrapper .swiper-slide {
    background-size: cover; background-position: center;
}
#wrap main .market_bnr .swiper-wrapper .swiper-slide .contents{
    width:1200px; margin:0 auto; padding: 100px 0;
}
#wrap main .market_bnr .swiper-wrapper .swiper-slide .contents h1 {font-size: 3rem; margin:0 0 50px;}
#wrap main .market_bnr .swiper-wrapper .swiper-slide .contents h1 span {font-weight:700;}
#wrap main .market_bnr .swiper-wrapper .swiper-slide .contents h1 p {line-height:2;}
#wrap main .market_bnr .swiper-wrapper .swiper-slide .contents h1 p a {}
#wrap main .market_bnr .swiper-wrapper .page1 {background-image:url(../images/bnr1.jpg);}
#wrap main .market_bnr .swiper-wrapper .page2 {background-image:url(../images/bnr2.jpg);}
#wrap main .market_bnr .swiper-wrapper .page3 {background-image:url(../images/bnr3.jpg);}
