#fixed_group {position:fixed; right:50px; bottom:50px;}
#fixed_group a {
    display:block; border-radius:50%; width:70px; height:70px;
    text-align:center; line-height:70px;
}
#fixed_group .recent {background:#222; color:#fff;}
#fixed_group .top {background:#fff; color:#222;}
#wrap {background:#f5f5f5;}
#wrap > * {max-width:1440px; min-width:1024px; margin:0 auto;}
#wrap header {
    
}
#wrap header.scroll {position:sticky; top:0; 
    display:flex; justify-content:space-between; align-items:center;
    border-bottom:2px solid #222;
}
#wrap header.scroll .top {border-bottom:0;}
#wrap header .top {height:50px; border-bottom:2px solid #222;}
#wrap header .top h1 {line-height:50px;}
#wrap header .btm {height:40px;}
#wrap header .btm .gnb {display:flex; gap:20px;}
#wrap header .btm .gnb li {}
#wrap header .btm .gnb li a {line-height:40px; display:block;}
#wrap main {height:500vh; background:linear-gradient(lightblue,white,lightpink);}
#wrap footer {}