body, html {scroll-behavior:smooth;}
body {
    /*height:300vh;  테스트용 높이값 */
    background:linear-gradient(lightblue,white, lightgreen);
}
.popup {
    position:fixed; right:50px; bottom:50px;
}
.popup .top {
    background:#fff; border-radius:50%;
    width:40px; height:40px; display:block; 
    text-align:center; line-height:40px;
}
main .thumnail {height:60vh; border:3px solid #000;}
main .category_title {
    position:sticky; top:0;
    /* top 0 좌표에 오면 부모가 끝날때까지 그 위치에 고정시키기 */
    display:flex; justify-content:space-around;
    align-items:center; padding:20px 0;
}
main .category_title a {flex:1; text-align:center;}
main .category_title a.active {
    background:#fff; line-height:40px;
}
main .category_contents section {height:100vh;}/* 테스트값 */
